<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChatBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ChatBot.Properties.Settings>
            <setting name="ColorFondo" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorUsuario" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ColorRobot" serializeAs="String">
                <value>White</value>
            </setting>
        </ChatBot.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ChatBot.Properties.Settings>
      <setting name="EndPoint" serializeAs="String">
        <value>https://botsergio.azurewebsites.net</value>
      </setting>
      <setting name="Key" serializeAs="String">
        <value>164b4f7b-d067-439f-9ef9-20d58c3d5ec8</value>
      </setting>
      <setting name="Id" serializeAs="String">
        <value>69e93d1d-6ccd-493d-8314-19e007646cf2</value>
      </setting>
    </ChatBot.Properties.Settings>
  </applicationSettings>
</configuration>